
  <mat-tab-group id="tab">
   
      <mat-tab>
        <ng-template mat-tab-label>Datos personales</ng-template>
  



<div id="divcontenedor">
<div id="divform">
<form action="">
<div id="divinput"  >
    <div id="div3cl" class="row divisor" >
    <div class="col">
<label for="">Cedula</label>
<input [readonly]="isReadOnly"  type="text" id="cedula" class="form-control" [(ngModel)]="pacientes.cedula" name="cedula"> 
</div>
<div class="col">
<label for="">Nombres</label>
<input [readonly]="isReadOnly"  type="text" class="form-control" [(ngModel)]="pacientes.nombres" name="nombres"> 
</div>
<div class="col">
<label for="">Apellidos</label>
<input  [readonly]="isReadOnly" type="text" class="form-control" [(ngModel)]="pacientes.apellidos" name="apellidos"> 
</div>
<div class="col">
    <label for="genero">Género</label>
    <select [disabled]="isReadOnly" name="genero" id="genero" class="form-select" [(ngModel)]="pacientes.genero">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
    </select>
</div>

</div>


<div id="div4cl" class="row divisor"> 
<div class="col-md-4">
<label for="">Fecha de Nacimiento</label>
<input [readonly]="isReadOnly" type="date" class="form-control" [(ngModel)]="pacientes.fechaNacimiento" name="fechaNacimiento">
</div> 
<div class="col-md-3">
    <label for="provincia">Provincia</label>
    <select [disabled]="isReadOnly" id="provincia" class="form-select" [(ngModel)]="selectedProvincia" (change)="onProvinciaChange()" name="provincia">
      <option *ngFor="let provincia of provincias" [value]="provincia.nombre">{{ provincia.nombre }}</option>
    </select>
  </div>
<div class="col-md-3">
    <label for="canton">Canton</label>
    <select [disabled]="isReadOnly" id="canton" class="form-select" [(ngModel)]="pacientes.canton" name="canton">
      <option *ngFor="let canton of cantones" [value]="pacientes.canton">{{ canton }}</option>
    </select>
  </div>
</div>

<div id="div5cl" class="row divisor"> 
<div class="col-md-3">
<label for="">Direccion</label>
<textarea [readonly]="isReadOnly" name="" id="" cols="30" rows="2" type="textarea" class="form-control" [(ngModel)]="pacientes.direccion" name="direccion"></textarea> 
</div>
<div class="col -md-6">
<label for="">Numero de celular</label>
<input  type="text" class="form-control" [(ngModel)]="pacientes.numCelular" name="numCelular" [readonly]="isReadOnly"> 
</div>


<div class="col -md-6">
<label for="">Correo Electronico</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
[(ngModel)]="pacientes.correoElectronico" name="correoElectronico" [readonly]="isReadOnly"> 
</div>

</div>
<div class="row my-5" id="divbt">
    <div class="col-md-4">
        <button
        type="button"
        [class]="isReadOnly ? 'btn btn-primary col-md-7' : 'btn btn-danger col-md-7'"
        (click)="activarCampos()"
      >
        {{ isReadOnly ? 'Editar' : 'Cancelar' }}
      </button>
    </div>


    <div class="col-md-4">
        <button [disabled]="isReadOnly" type="button" class="btn btn-success col-md-7 " (click)="actualizarPaciente()" >Aceptar</button>
    
    </div>
    </div>

</div>




</form>

</div>


</div>
</mat-tab>
<mat-tab>
    <ng-template mat-tab-label>Historial Medico</ng-template>
    <div  class="border border-success p-2 mx-4 " style="--bs-border-opacity: .5;" >
        <table class="table table-hover mat-elevation-z8 demo-table">
            <thead>
              <tr >
                <th scope="col" >#</th>
                <th scope="col" hidden>IDHistorial</th>
                <th scope="col">Diagnostico</th>
                <th scope="col">Fecha de Visita</th>
                <th scope="col">Medico</th>
                <th scope="col">ACCIONES</th>
              </tr>
            </thead>
            <tbody>
                @for(elem of historial; track elem.idHistorial ){
              <tr> 
              
              
                <td >{{elem.idHistorial}}</td>
                <td >{{elem.diagnostico}}</td>
                <td >{{elem.fechaHoraVisita}}</td>
                <td >{{elem.nombreMedico}}</td>
           <td><button class="btn btn-primary btn-sm" title="Ver" (click)="Ver(elem)">
            <i class="material-symbols-outlined">
            Visualizar</i>
            <svg style ="margin-left: 10px"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 980 960" width="24px" fill="#e8eaed"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
          </button></td>
                
               
              </tr>
                }
            </tbody>
          </table>
    
    </div>
</mat-tab>

<mat-tab>
    <ng-template mat-tab-label>Facturas</ng-template>
   
    <div  class="border border-success p-2 mx-4 " style="--bs-border-opacity: .5;" >
        <table class="table table-hover mat-elevation-z8 demo-table">
            <thead>
              <tr >
                <th scope="col" >#</th>
                <th scope="col" hidden>IDFactura</th>
                <th scope="col">Paciente</th>
                <th scope="col">Fecha de Facturacion</th>
                <th scope="col">Medico</th>
                <th scope="col">ACCIONES</th>
              </tr>
            </thead>
            <tbody>
                @for(elem of Facturas; track elem.idFactura ){
              <tr> 
              
              
                <td >{{elem.idFactura}}</td>
                <td >{{elem.nombresPaciente}}</td>
                <td >{{elem.fechaFacturacion}}</td>
                <td >{{elem.nombresMedico}}</td>
           <td><button class="btn btn-primary btn-sm" title="Ver" >
            <i class="material-symbols-outlined">
            Visualizar</i>
            <svg style ="margin-left: 10px"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 980 960" width="24px" fill="#e8eaed"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
          </button></td>
                
               
              </tr>
                }
            </tbody>
          </table>
    
    </div>




</mat-tab>
</mat-tab-group>
