
  <mat-tab-group id="tab">
   
      <mat-tab>
        <ng-template mat-tab-label>Datos personales</ng-template>
  



<div id="divcontenedor">
<div id="divform">
<form action="">
<div id="divinput"  >
    <div id="div3cl" class="row divisor" >
    <div class="col">
<label for="">Cedula</label>
<input  type="text" id="cedula" class="form-control" [(ngModel)]="pacientes.cedula" name="cedula"> 
</div>
<div class="col">
<label for="">Nombres</label>
<input  type="text" class="form-control" [(ngModel)]="pacientes.nombres" name="nombres"> 
</div>
<div class="col">
<label for="">Apellidos</label>
<input  type="text" class="form-control" [(ngModel)]="pacientes.apellidos" name="apellidos"> 
</div>
<div class="col ">
    <label for="">Genero</label>
    <select name="" id="" class="form-select">
        <option value="">
            Masculino
        </option>
        <option value="">
            Femenino
        </option>
    </select>
    </div>

</div>


<div id="div4cl" class="row divisor"> 
<div class="col-md-4">
<label for="">Fecha de Nacimiento</label>
<input  type="date" class="form-control" [(ngModel)]="pacientes.fechaNacimiento" name="fechaNacimiento">
</div> 
<div class="col-md-3">
<label for="">Provincia</label>
<select name="" id="" class="form-select">
<option value="">
    Guayas
</option>

</select>
</div>
<div class="col-md-3">
<label for="">Canton</label>
<select name="" id="" class="form-select">
<option value="">Guayaquil</option>

</select> 
</div>
</div>

<div id="div5cl" class="row divisor"> 
<div class="col-md-3">
<label for="">Direccion</label>
<textarea name="" id="" cols="30" rows="2" type="textarea" class="form-control" [(ngModel)]="pacientes.direccion" name="direccion"></textarea> 
</div>
<div class="col -md-6">
<label for="">Numero de celular</label>
<input  type="text" class="form-control" [(ngModel)]="pacientes.numCelular" name="numCelular"> 
</div>


<div class="col -md-6">
<label for="">Correo Electronico</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
[(ngModel)]="pacientes.correoElectronico" name="correoElectronico"> 
</div>

</div>

<div class="row my-5" id="divbt">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary col-md-7 ">Editar</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-success col-md-7 ">Aceptar</button>
    
    </div>
    </div>
</div>




</form>

</div>


</div>
</mat-tab>
<mat-tab>
    <ng-template mat-tab-label>Historial Medico</ng-template>
    <h2>titulo</h2>
</mat-tab>

<mat-tab>
    <ng-template mat-tab-label>Facturas</ng-template>
    <h2>titulo</h2>
</mat-tab>
</mat-tab-group>