<h2 mat-dialog-title>Reprogramar Cita Medica</h2>
<mat-dialog-content>
  <div id="divform">
    <form [formGroup]="verForm" >
      <div class="row mb-4">
        <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput formControlName="idcita" readonly>
      </mat-form-field>
     
      </div>
      <div class="row mb-3">

    <label for="colFormLabel" class="col-sm-4 col-form-label col-form-label-sm">Nombre Medico</label>
    <div class="col-sm-6">
     
      <input type="text" class="form-control form-control-sm" id="colFormLabel" matInput formControlName="nombreMedico">
   
    </div>

</div>
      <div class="row mb-4">
        <label for="colFormLabelSm2" id="lb" class="col-sm-4 col-form-label col-form-label-sm">Fechas Reprogramables</label>
        <div class="col-sm-7">

         

            <mat-select formControlName="FechasReprogramables" placeholder="Horarios disponibles..."
            (selectionChange)="onFechaHoraChange($event.value)">
            
                <mat-option *ngFor="let horario of horarios" [value]="horario.fechaHora">
                    {{ horario.fechaHora }}
                </mat-option>

              </mat-select>
        
         
           
     
    
        </div>
      </div>

      <div id="divbt">
       
        <button type="button" class="btn btn-primary col-md-5" style="margin-left: 30%;" (click)="reprograma()">Aceptar</button>
      </div>
    </form>
  </div>
</mat-dialog-content>



