<div class="Contenedor">
    <mat-card>

        <h2>Registro de datos</h2>
<form [formGroup]="registerForm" (ngSubmit)="registrar()" class="needs-validation" novalidate>
    <div id="divcd" class="row " >
    <div class="col-3">
    <div id="ceduladiv" >
      <label for="cedula">Cedula</label>
      <input type="text" id="cedula" formControlName="cedula" class="form-control" required>
    </div>
</div>
<div class="col-3">
    <div >
      <label for="nombres">Nombres</label>
      <input type="text" id="nombres" formControlName="nombres" class="form-control" required>
    </div>
</div>
    <div class="col-3">
      <label for="apellidos">Apellidos</label>
      <input type="text" id="apellidos" formControlName="apellidos" class="form-control" required>
    </div>



    <div class="col-2">
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" class="form-control" required>
    </div>
</div>
    <div id="divcd" class="row " >
    <div class="col-3">
      <label for="provincia">Provincia</label>
      <select id="provincia" formControlName="provincia" class="form-control" required>
        <option value="" disabled selected>Provincias..</option>
        <option value="Guayas">Guayas</option>
        <option value="Salinas">Salinas</option>
        <option value="Machala">Machala</option>
      </select>
    </div>
    
    <div class="col-3">
        <label for="canton">Cantón</label>
        <select id="canton" formControlName="canton" class="form-control" required>
            <option value="" disabled selected>Canton..</option>
            <option value="Guayaquil">Guayaquil</option>
            <option value="Duran">Duran</option>
            <option value="Nobol">Nobol</option>
          </select>
    
    
    </div>
  
    







    <div class="col-3">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" formControlName="direccion" class="form-control" required>
      </div>
    </div>


      <div id="divcd" class="row " >

    <div class="col-3">
      <label for="numCelular">Número de Celular</label>
      <input type="text" id="numCelular" formControlName="numCelular" class="form-control" required>
    </div>

   

    <div class="col-3">
      <label for="genero">Género</label>
      <select id="genero" formControlName="genero" class="form-control" required>
        <option value="" disabled selected>Seleccione su género</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
</div>
<div id="divcd" class="row " >
    <div class="col-3">
      <label for="correoElectronico">Correo Electrónico</label>
      <input type="email" class="email-form" id="correoElectronico" formControlName="correoElectronico" class="form-control" required>
    </div>


    <div class="col-3">
      <label for="telefonoId">Teléfono</label>
      <input type="text" id="telefonoId" formControlName="telefonoId" class="form-control" required>
    </div>
</div>
    <div id="divcd" class="row " >

    <div class="col-3">
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" formControlName="usuario" class="form-control" required>
    </div>
    <div class="col-3">
      <label for="contrasena">Contraseña</label>
      <input type="password" id="contrasena" formControlName="contrasena" class="form-control" required>
    </div>
</div>

<div id="divbt">
    <button type="submit"  class="btn btn-primary col-md-4"[disabled]="!registerForm.valid" >Registrar</button>
</div>

  </form>
</mat-card>
</div>
