<div  class="d-flex justify-content-center mb-3 mt-5">
    <h1>Agenda tu cita</h1>
</div>

<h3>Dispensario Medico</h3>

<div id="divform"  class="border border-success p-2 mx-4" style="--bs-border-opacity: .5;">
 
<form  [formGroup]="formselect" (ngSubmit)="mostrarDatos()">

<label for="slubi">Seleccionar Ubicacion:</label>

<select formControlName="slubi" id="slubi" >
    <option value="">Escoja una opciona...</option>
    <option value="1">Sector Norte</option>
    <option value="2">Sector Sur</option>

</select>
<label for="slespe">Especialidad:</label>
<select formControlName="slespe" id="slespe">
    <option value="">Escoja una opcion...</option>
<option value="1">Medicina General</option>
<option value="2">Odontologia</option>
<option value="3">Pediatria</option>

</select>
<label for="slservi">Servicio Especifico:</label>
<select formControlName="slservi" id="slservi">
    <option value="">Escoja una opcion...</option>
    <option value="1">Consulta General</option>
    <option value="2">Odontologia</option>
    <option value="3">Pediatria</option>


</select>

<button type="button" [disabled]="!formselect.valid"class="btn btn-primary mx-5 px-5" name="btbuscar" (click)="mostrarDatos()"> Buscar</button>
</form>

</div>

<div  *ngIf="Medico || Direccion || Habitacin || Disponible || horario"id="tableid"class="border border-success p-2 mx-4" style="--bs-border-opacity: .5;">
    <table class="table">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col" hidden>IDDoctor</th>
            <th scope="col">Doctor</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Horario</th>
            <th scope="col">Direccion</th>
            <th scope="col">Habitacion</th>
            <th scope="col">Disponibilidad</th>
          </tr>
        </thead>
        <tbody>
          
          <tr [class.selected]="filaSeleccionada === 0" (click)="seleccionarFila(0, { Medico, especialidad, horario, Direccion, Habitacin, Disponible })">
            <td>1</td>
            <td>{{Medico }}</td>
            <td>{{ especialidad }}</td>
            <td>{{ horario }}</td>
            <td>{{ Direccion }}</td>
            <td>{{Habitacin }}</td>
            <td>{{ Disponible }}</td>
          </tr>
         
        </tbody>
      </table>

</div>
<span class="spn">Horario seleccionado: {{ datosSeleccionados.horario }}</span>

<div id="divbt"class="d-flex justify-content-lg-end">
    <button id="btacep"type="button"[disabled]="filaSeleccionada != 0" class="btn btn-success" (click)="navigateToVenta()">Aceptar</button>
</div>
<p>

</p>
