

h5{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}
h3{
    margin-left: 3%;
}
#divform{
margin-bottom: 40px;
margin-left: 20px;

}
#tableid{
    margin-bottom: 50px;
}
label{
    margin-right: 10px;
    margin-left: 10px;
}

#divbt{
    margin-right: 20px;
 
}
#btacep{
padding-left: 30px;
padding-right: 30px;
margin-bottom: 100px;
}
.selected{
    background-color: #1eb959 !important;
   
    
  }
  .selected-row {
    background-color: #bde21a !important; /* Color de fondo para la fila seleccionada */
    cursor: pointer !important; /* Cambia el cursor a puntero para indicar que se puede hacer clic */
  }
  
  .selected-row:hover {
    background-color: #6dbe10 !important; /* Color de fondo para la fila seleccionada al pasar el mouse */
  }
  .marked-column {
    background-color: yellow !important;
  }
  .demo-row-is-clicked {
    font-weight: bold;
  }