<div id="dvh2"class="d-flex justify-content-start mt-5" >
<h2>Consultorio Medico Especializado</h2>
</div>
<div id="carrouseldiv" >
<div id="carouselExampleRide" class="carousel slide mx-5 my-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/imgs/car1.jpg" class="d-block w-100" alt="Imagen 1">
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/car2.jpg" class="d-block w-100" alt="Imagen 2">
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/car3.jpg" class="d-block w-100" alt="Imagen 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="d-flex flex-row mb-3 mx-5 " style="margin-left: 8% !important;">
<div class="card mx-5" style="width: 18rem; ">
    <img src="assets/imgs/cr1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Medicina General</h2>
      <p class="card-text">
        La medicina general es la primera línea de defensa para tu salud.
         Nuestros médicos generales están capacitados para diagnosticar y tratar una amplia gama de enfermedades y
          condiciones. Proporcionamos atención integral, incluyendo chequeos regulares,
           manejo de enfermedades crónicas, y consejos preventivos para mantener tu bienestar general. 
           Tu salud es nuestra prioridad.



      </p>
    
    
      <a href="#" class="btn btn-primary">Saber mas.</a>
    </div>
  </div>
  <div class="card mx-5" style="width: 18rem;">
    <img src="assets/imgs/cr2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Odontologia</h2>
      <p class="card-text"> 
        Nuestra especialidad en odontología se enfoca en la prevención, diagnóstico y 
        tratamiento de enfermedades y afecciones de los dientes, encías y estructuras orales. 
        Ofrecemos servicios que van desde limpiezas y revisiones regulares hasta tratamientos avanzados 
        como implantes, ortodoncia y estética dental. Nuestro objetivo es brindarte una sonrisa saludable y 
        hermosa.

      </p>
      <a href="#" class="btn btn-primary">Saber mas.</a>
    </div>
  </div>
  <div class="card mx-5" style="width: 18rem;">
    <img src="assets/imgs/cr3.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Pediatria</h2>
      <p class="card-text">
        Nuestra especialidad en pediatría se dedica al cuidado integral de la salud de niños y adolescentes.
         Nuestros pediatras están comprometidos con el desarrollo físico, emocional y social de los más pequeños, 
         ofreciendo desde controles de rutina y vacunaciones hasta el manejo de enfermedades complejas. 
         Nos esforzamos por crear un ambiente amigable y seguro para que cada visita sea una experiencia positiva 
         para tus hijos.

      </p>
      
      
      
      <a href="#" class="btn btn-primary">Saber mas.</a>
    </div>
  </div>
</div>