<p>venta works!</p>
<div>
    <h1>DISPENSARIO MEDICO MATA SANO</h1>
    <div>
        <h2>DETALLES DE LA CITA CITAS MEDICAS</h2>
        <div>
            <h3>-------Resumen de cita medica-------</h3>
            <ul>
                <li>ID CITA:</li>
                <li>ID DOCTOR:</li>
                <li>NOMBRE DE DOCTOR:</li>
                <li>LUGAR DE DISPENSARIO:</li>
                <li>HORARIO:</li>
                <li>ESPECIALIDAD:</li>
                <li>HABITACION:</li>
            </ul>
        </div>
        <div>
            <h3>--------Metodo de Pago----------------</h3>
            <ul>
                <li><input type="radio" name="metodo_pago" id="radio1"><label for="radio1">Tarjeta de Credito</label></li>
                <li><input type="radio" name="metodo_pago" id="radio2"><label for="radio2">Tarjeta de Debito</label></li>
                <li><input type="radio" name="metodo_pago" id="radio3"><label for="radio3">Paypal</label></li>
                <li><input type="radio" name="metodo_pago" id="radio4"><label for="radio4">Transferencia Bancaria</label></li>
            </ul>
            <button type="button">boton</button>
        </div>
    </div>
</div>
