<div id="x">

</div>
<div id="Content_Box1">
    <div id="Content_Box2">
        <h2>DETALLES DE LA CITA MEDICA</h2>
        <div id="Content_Box_if">
            <h3>Resumen de cita medica</h3>
            <ul>
                <li>
                    <label for="ID_CITA">ID CITA:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">09542</label>
                    </div>
                </li>
                <li>
                    <label for="ID_DOCTOR">ID DOCTOR:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">04540</label>
                    </div>
                </li>
                <li>
                    <label for="NOMBRE_DOCTOR">NOMBRE DE DOCTOR:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">Jose Paredes</label>
                    </div>
                    
                </li>
                <li>
                    <label for="LUGAR_DISPESARIO">LUGAR DE DISPENSARIO:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">Sector Norte Calle 8 avenida 3 Mz3</label>
                    </div>

                </li>
                <li>
                    <label for="HORARIO">HORARIO:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">10:00 AM</label>
                    </div>
                </li>
                <li>
                    <label for="ESPECIALIDAD">ESPECIALIDAD:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">Medicina General</label>
                    </div>
                </li>
                <li>
                    <label for="HABITACION">HABITACION:</label>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                        <label for="floatingInputDisabled">L1</label>
                    </div>
                </li>
            </ul>
        </div>
        <div id="Content_Box_pago">
            <h3>Metodo de Pago</h3>
            <ul>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Tarjeta de Debito
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Tarjeta de Credito
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Paypal
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Transferencia Bancaria
                    </label>
                    </div>
            </ul>
            <button type="button" class="btn btn-primary">Generar comprobante   </button>

        </div>
    </div>
</div>
