<div id="x">

</div>
<div id="Content_Box1">
    <div id="Content_Box2">
        <h2>DETALLES DE LA CITA MEDICA</h2>
        <div id="Content_Box_if">
            <h3>Resumen de cita medica</h3>
            <ul>
                <li><label for="ID_CITA">ID CITA:</label>input </li>
                <li><label for="ID_DOCTOR">ID DOCTOR:</label></li>
                <li><label for="NOMBRE_DOCTOR">NOMBRE DE DOCTOR:</label></li>
                <li><label for="LUGAR_DISPESARIO">LUGAR DE DISPENSARIO:</label></li>
                <li><label for="HORARIO">HORARIO:</label></li>
                <li><label for="ESPECIALIDAD">ESPECIALIDAD:</label></li>
                <li><label for="HABITACION">HABITACION:</label></li>
            </ul>
        </div>
        <div id="Content_Box_pago">
            <h3>Metodo de Pago</h3>
            <ul>
                <li><input type="radio" name="metodo_pago" id="radio1"><label for="radio1">Tarjeta de Credito</label></li>
                <li><input type="radio" name="metodo_pago" id="radio2"><label for="radio2">Tarjeta de Debito</label></li>
                <li><input type="radio" name="metodo_pago" id="radio3"><label for="radio3">Paypal</label></li>
                <li><input type="radio" name="metodo_pago" id="radio4"><label for="radio4">Transferencia Bancaria</label></li>
            </ul>
            <button type="button">Generar comprobante</button>
        </div>
    </div>
</div>
