<div class="container-fluid px-3 py-4">
    <span class="font-poetsen-one fs-4">Detalles Cita</span>
    <hr class="my-4">
    <div class="container">
        <div class="card border-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombres: </li>
                <li class="list-group-item">Código:</li>
                <li class="list-group-item">Doctor: </li>
                <li class="list-group-item">Especialidad: </li>
                <li class="list-group-item">Motivo: </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-dark mt-3 w-100" mat-dialog-close>Cerrar</button>
    </div>
</div>